.block_container {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/VideoBG.png");
  background-size: cover;
}

.text_frame {
  margin: 0px 10px;
  padding: 80px 15px;
  background-color: rgba(242, 238, 232, 0.9);
}

.title {
  margin-bottom: 40px;
  font-family: var(--inter-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: -0.06em;
  color: rgba(151, 119, 85, 1);
}

.text {
  font-family: var(--inter-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 183%;
  letter-spacing: -0.06em;
  color: rgba(151, 119, 85, 1);
}

/* Media queries */

@media (width >= 768px) {
  .text_frame {
    width: 80%;
    margin: 0px;
    padding: 150px 17%;
  }

  .title {
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 120%;
  }

  .text {
    font-size: 25px;
    line-height: 168%;
  }
}
